@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.toggle-button {
position: fixed;
  width: 44px;
  height: 40px;
  top: 25px;
  right: 25px;
  transition: 0.25s;
  z-index: 10;
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: 0.5s;
}
.toggle-button .menu-bar-top {
border: 4px solid #fff;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
  border-bottom: none;
  top: 0;
  width: 55%;
}
.toggle-button .menu-bar-middle {
height: 4px;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
  width: 68%;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #fff;
  border-top: none;
  top: 22px;
}

.button-open-transition, .button-open .menu-bar-bottom, .button-open .menu-bar-top {
  border-color: #555;
  transition: 0.5s;
}

.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
}
.button-open .menu-bar-middle {
  background-color: #555;
  transform: translate(250px);
  transition: 0.1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(7px, -7px);
}

.menu-wrap {
  background-color: #fbc9c4;
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transition: 0.25s;
}

.menu-show {
right: 0;
  z-index: 9;
}

ul {
  padding-left: 0;
  margin-left: 10px;
  position: relative;
  top: 75px;
}

li {
  padding: 20px 20px 0;
  list-style: none;
}

a {
  color: #555;
  font-size: 1em;
  position: relative;
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}